# Ignore everything in the root except the "wp-content" directory & root readme.
/*
!README.md
!wp-content/

# Ignore everything in the "wp-content" directory, except the "themes" directory.
wp-content/*
!wp-content/themes/